@import url('https://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext');

$yellow-bg-start:rgba(241,231,103,1);
$yellow-bg-end:rgba(255,248,166,1);
$border-color:#000;
$theme-font: 'Oswald', sans-serif;

$content-max-width: 960px;

@mixin anydradient-gradient($bg-gr-start: #ccc, $bg-gr-end:#000) {
  background: $bg-gr-start;
  background: -moz-linear-gradient(top, $bg-gr-start 0%, $bg-gr-end 100%);
  background: -webkit-gradient(top bottom, top bottom, color-stop(0%, $bg-gr-start), color-stop(100%, $bg-gr-end));
  background: -webkit-linear-gradient(top, $bg-gr-start 0%, $bg-gr-end 100%);
  background: -o-linear-gradient(top, $bg-gr-start 0%, $bg-gr-end 100%);
  background: -ms-linear-gradient(top, $bg-gr-start 0%, $bg-gr-end 100%);
  background: linear-gradient(to bottom, $bg-gr-start 0%, $bg-gr-end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bg-gr-start', endColorstr='$bg-gr-end', GradientType=1 );
}

@mixin yellow-gradient() {
  background: $yellow-bg-start;
  background: -moz-linear-gradient(left, $yellow-bg-start 0%, $yellow-bg-end 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $yellow-bg-start), color-stop(100%, $yellow-bg-end));
  background: -webkit-linear-gradient(left, $yellow-bg-start 0%, $yellow-bg-end 100%);
  background: -o-linear-gradient(left, $yellow-bg-start 0%, $yellow-bg-end 100%);
  background: -ms-linear-gradient(left, $yellow-bg-start 0%, $yellow-bg-end 100%);
  background: linear-gradient(to right, $yellow-bg-start 0%, $yellow-bg-end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#fff8a6', GradientType=1 );
}


@mixin full-width() {
  padding-left: 0;
  padding-right: 0;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  @include yellow-gradient();
  text-align: center;
  font-family:$theme-font;
}

/*header styles */

header {
  margin: 0 auto;
  max-width: $content-max-width;
  text-align: left;
  h1 {
    font-weight: 400;
    border-bottom:dotted 1px #000;
    padding-bottom: 10px;
    small {
        font-weight: 400;
        line-height: 1;
        color: #777;
        font-weight: bold;
        font-size: 65%;
        }
    }
}

/* Hero Styles */

.hero-container {
  width: 100vw;
  background-color: #eee;
  min-height: 220px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  h2 {
    font-size: 4em;
    margin:0;
    padding: 0;
    font-weight: 100;
  }
  p {
    font-size: 1.5em;
    color:#585757;
  }

}

/*-------------*/
